.alert {
  position: relative;
  display: inline-block;
  padding: 15px 15px 15px 63px;
}

.alert-message{
  display: block;
  margin-bottom: 4px;
}


.alert-primary {
  background-color:lighten($primary,.2) ;
  border: 1px solid $primary;
}
.alert-danger {
  background-color:lighten($danger,.2) ;
  border: 1px solid $danger ;
}

.alert-info {
  background-color:lighten($info, 0.2);
  border: 1px solid $info;
}
